<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- WebMaster -->
    <meta name="yandex-verification" content="a213e572b3d5f013" />
    <!-- WebMaster -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(91268389, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/91268389" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Start Bootstrap</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-my_photo rounded-circle mx-auto mb-2" src="static/img/my_photo.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#feedback">Feedback</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">Kadochnikov
                <span class="text-primary">Daniil</span>
            </h1>
            <div class="subheading mb-5">Russia · 02/12/2004 · future software developer ·
                <a href="mailto:name@email.com">kadoch.daniil@gmail.com</a>
            </div>
            <p class="mb-5">I am a developing, promising, young programmer who wants to reach the highest
                achievements in his major in order to make people's lives on Earth brighter, better, easier.
                By the way, here is a good quote, which is actually not mine, but it describes me the best:
                "I'm the type of person that if you ask me a question and I don't know the answer, I'm gonna
                tell you that I don't know. But I bet you what, I know how to find the answer and I will find
                the answer. Is that fair enough?"</p>

            <ul class="list-inline list-social-icons mb-0">

                <li class="list-inline-item">
                    <a href="https://github.com/Kadochnikov-Daniil" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="https://t.me/daniils_telegram" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-telegram fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="https://vk.com/daniils_vk" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="https://instagram.com/daniilsphotos?igshid=YmMyMTA2M2Y=" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Super Software Developer</h3>
                    <div class="subheading mb-3">Some Very Great Company</div>
                    <p>Developing something super cool and useful that will fundamentally change
                        the course of people's lives for the better and more convenient way</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">February 2030 - Further future</span>
                </div>
            </div>

        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Saint Petersburg State University (SPBU)</h3>
                    <div class="subheading mb-3">Bachelor's degree</div>
                    <div>Software Development</div>
                    <p>GPA: _</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2021 - Today</span>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline list-icons">
                <li class="list-inline-item">
                    <i class="devicons devicons-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-css3"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-python"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-git"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-ubuntu"></i>
                </li>
            </ul>

            <div class="subheading mb-3">Soft Skills</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Learnability
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Teamwork
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Problem-solving
                </li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
            <h2 class="mb-5">Projects</h2>
             <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <a href="https://github.com/Kadochnikov-Daniil/flask-CV.git" target="_blank">
                        <h3 class="mb-0">Flask WebSite: CV</h3>
                    </a>
                    <p>Personal flask web-site, written on html, css, python. Some technologies, as uWSGI, nginx were used and some metrics included.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">February 2030 - Further future</span>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
            <h2 class="mb-5">Interests</h2>
            <p class="mb-2" style="text-indent: 25px;">To tell the truth, in addition to programming, I have a lot of interests, activities and hobbies
                that I really like to do.</p>
            <p class="mb-2" style="text-indent: 25px;">Sport plays an important role in my life, because I have been playing football professionally
                since I was 6 years old. In my experience, there were sports camps, in particular one in Spain, where I
                had three training sessions a day and communication with foreign players and coaches, as well as many
                teams, in particular one in Canada - an invaluable experience. In addition to football, I am an excellent
                swimmer, I can ski, snowboard, and skate. I often ride a bike in the summer. In general, I live a full
                sports life!</p>
            <p class="mb-2" style="text-indent: 25px;">I really like to spend time with my family, because I have a mom, dad, two grandmothers,
                grandfather, two sisters and a brother. All together we love to travel and hang out together.</p>
            <p class="mb-2" style="text-indent: 25px;">I also like to play games, and although I can't boast of a bunch of completed games, but now
                I have to work, I'll play enough later. Maybe I'll even create my own game someday. I love watching movies
                and TV shows with friends, sometimes they help to understand something new or find a way out in a difficult
                situation.</p>
            <p class="mb-2" style="text-indent: 25px;">All this and even more helps me to reboot and get a boost of energy for more productive work.</p>
        </div>
    </section>

    <section class="row d-flex justify-content-center" id="feedback">
        <div class="col-md-8 col-lg-6">
            <h2 class="mb-3">Feedback</h2>
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                <div class="card-body p-4">
                    <div class="post-form">
                        <form method="POST" action="{{ url_for('add_post') }}">
                            <div class="mb-2">
                              <input class="form-control" name="name" id="name" placeholder="Ваше имя">
                            </div>
                            <div class="mb-2">
                              <textarea class="form-control" name="text" id="text" placeholder="Текст отзыва" rows="3" style="height: 71px;"></textarea>
                            </div>
                            <div class="mb-5">
                                <button type="submit" class="btn btn-primary">Добавить отзыв</button>
                            </div>
                        </form>
                    </div>

                    {% for post in posts %}
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <p>{{post.text}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-header">
                            <div class="row">
                                <div class="col-7">
                                    {{post.name}}
                                </div>
                                <div class="col-5">
                                    {{post.updated_on}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Bootstrap core JavaScript -->
                <script src="static/vendor/jquery/jquery.min.js"></script>
                <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

                <!-- Custom scripts for this template -->
                <script src="static/js/resume.min.js"></script>
                </div>
            </div>
        </div>
    </section>
</div>



</body>

</html>
